<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for persona in persones %}
<div>
    <p>Nom: {{persona.Nom}}, Cognoms: {{persona.Cognoms}} <a href="/multipleurl/adressa/{{persona.Adressa.id}}" >Adressa: {{persona.Adressa.Nom}}</a></p>

</div>
{% endfor %}

</body>
</html>