<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
</head>
<body>
  <form action="{% url 'login' %}" method="POST">
      <!-- csrf_token ofereix una protecció contra
      falsificacions de sol·licituds de llocs -->
      {% csrf_token %}
      Usuari: <input type="text" id="username" name="username"><br>
      Contrassenya: <input type="password" id="password" name="password"><br>
      <input type="submit" class="btn btn-primary">
  </form>
</body>
</html>